<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
</head>

<body>
    <div id="app">
        <h1>{{ title }}</h1>
        <input v-model="shuru" @keyup.enter="xinzeng"/>
        <ul>
            <li v-for="(item,index) in items" :key="index" v-bind:class="{wanCheng:item.wancheng}" v-on:click="finish(item)">
                {{ item.todo }}
            </li>
        </ul>
    </div>
</body>

<script>
new Vue({
    el:'#app',
    data() {
        return {
            title: 'todo list',
            items:[],
            shuru:''
        }
    },
    methods: {
        xinzeng:function(){
            this.items.push({
                todo:this.shuru,
                wancheng:false
            });
            this.shuru='';
        },
        finish:function(item){
            item.wancheng=!item.wancheng;
        }
    },
})
</script>

<style>
#app{text-align:center;}
.wanCheng{text-decoration:line-through;}
</style>
            
</html>